#app {
  font-family: Avenir, Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;

  @apply h-screen w-screen m-0;
}

.ProseMirror {
  @apply focus:outline-none border-none rounded-md;
}
